<!--Device name-->
<div class="row">
    <div class="col-xs-6 col-sm-2">
        <div class="devIcon"></div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div style="color: white;">
            <h3>{{dev.username}} </h3>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6">
        <!--<a href="edit({{dev.id}}" class="">-->
            <img src="/assets/images/edit.png" width="25" height="25" style="margin-top: 20px">
        <!--</a>-->
        <!--<a href="#" class="">-->
            <img src="/assets/images/remove.png" width="25" height="25" style="margin-top: 20px">
        <!--</a>-->
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-2"></div>
    <div class="col-xs-6 col-sm-6">
        <div class="row">
            <div class="col-xs-6 col-sm-4" style="padding: 5px 0 5px 0;">
                <div class="butStyle"> Data Frequency</div>
            </div>
            <div class="col-xs-6 col-sm-4" style="padding: 5px 0 5px 0;">
                <div class="inpStyle"> {{dev.frequency}}</div>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4"></div>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-2"></div>
    <div class="col-xs-6 col-sm-6">
        <div class="row">
            <div class="col-xs-6 col-sm-4" style="padding: 5px 0 5px 0;">
                <div class="butStyle"> Sensors</div>
            </div>
            <div class="col-xs-6 col-sm-4" style="padding: 5px 0 5px 5px;">
                <!--<a href="#" class="" >-->
                    <img src="/assets/images/add.png"  width="20" height="20">
                <!--</a>-->
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4"></div>
</div>


<div class="row">
    <div class="col-xs-6 col-sm-2"></div>
    <div class="col-xs-6 col-sm-6"></div>
    <div class="col-xs-6 col-sm-4"></div>
</div>


{{#each dev.sensors as |sensor|}}
  {{sensor-listing sens=sensor}}
{{/each}}

<div class="row">
    <div class="col-xs-6 col-sm-2"></div>
    <div class="col-xs-6 col-sm-6"></div>
    <div class="col-xs-6 col-sm-4"></div>
</div>

