.container {
	width:80%;
	background-color: black;
}


.banner {
	background: url('images/f3.png');
	height: 200px;
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

 .hompageBackground{
 	height: 65vh;
 	background-color: black;
 }

 .searchBar{
 		width: 80%;
		margin: 0 auto;
		padding-top: 20%;
 }

 .textColor{
 	color: white;
 }

 .custButton {
 	background-color: #00ccff;
 }

 .spacer {
 	height: 20%;
 }

.spacer2 {
  height: 40px;
}

 .devIcon {
   background: url('images/iot_icon.png');
   height: 64px;
   width: 64px;
 }

.addIcon {
  background: url('../../public/assets/images/add.png');
  height: 100%;
  width: 100%;
}

.removeIcon {
  background: url('../../public/assets/images/remove.png');
  height: 64px;
  width: 64px;
}

.editIcon {
  background: url('../../public/assets/images/edit.png');
  height: 100px;
  width: 100px;
}

 .butStyle {
   color: #fff;
   background-color: #337ab7;
   border-color: #2e6da4;
   text-align: center;
   padding: 0 0 0 0;
 }

 .inpStyle {
   color: #555;
   background-color: #fff;
   text-align: center;
   padding: 0 0 0 0;
 }
