<div class="container">
    <div class="banner"></div>
    <div class="row alignright">
      {{#if session.isAuthenticated}}
        {{#bs-nav type="pills"}}
          {{#nav.item}}
            {{#link-to "index"}}Home{{/link-to}}
          {{/nav.item}}
          {{#nav.item}}
            {{#link-to "devices"}}Devices{{/link-to}}
          {{/nav.item}}
          {{#nav.item}}
            {{#link-to "account"}}Account{{/link-to}}
          {{/nav.item}}
          {{#nav.item}}
              <a {{action 'invalidateSession'}}>Logout</a>
          {{/nav.item}}
        {{/bs-nav}}
      {{else}}
        {{#bs-nav type="pills" as |nav|}}
          {{#nav.item}}
            {{#link-to "index"}}Home{{/link-to}}
          {{/nav.item}}
          {{#nav.item}}
            {{#link-to "register"}}Register{{/link-to}}
          {{/nav.item}}
          {{#nav.item}}
            {{#link-to "login"}}Login{{/link-to}}
          {{/nav.item}}
        {{/bs-nav}}
      {{/if}}
    </div>
    <div class="body">
      {{outlet}}
    </div>
    <div class="spacer2"></div>
</div>
