	
<div class="hompageBackground">
	<div class="spacer"></div>
	<div class="spacer"></div>
	<div class="row">
        <div class="col-sm-6 col-sm-offset-3">
		   	<div class="input-group">
			     <input type="text" class="form-control" placeholder="Search for...">
			     <span class="input-group-btn">
			        <button class="btn btn-primary" type="button">Search!</button>
			     </span>
		    </div><!-- /input-group -->
        </div>
	</div>
</div>